body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.code-container {
  width: 50vw;
  height: 100vh;
  background-color: #1e1e1e;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  overflow-x: hidden;
}

.code-container button {
  margin: 20px;
  padding: 8px 12px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 120px;
}

.code-contentWrapper {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  margin-inline: 10px;
}

pre {
  margin: 0px;
  padding: 0px;
}

span.canvas-label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #888;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 4px;
  pointer-events: none;
}

span#zoomLabel {
  left: auto;
  right: 10px;
}

span#posLabel {
  top: 40px;
  left: auto;
  right: 10px;
}

.code-content {
  padding: 20px;
  margin-left: 30px;
  margin-right: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #333;
  border-radius: 4px;
  color: #d4d4d4;
  overflow-y: auto;
  height: 95%;
}

.canvas-container {
  width: 60vw;
  height: 100vh;
  background-color: #111;
  position: relative;
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvas-container {
  position: relative;
}

#card-layer {
  position: absolute;
  top: 0;
  left: 0;
}

.node-dot {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #aa2222;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  cursor: grab;
  z-index: 2;
}

.node-connector {
  position: absolute;
  height: 1px;
  background-color: #ccc;
  transform-origin: 0 50%;
  z-index: 1;
}

.node-card {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  cursor: grab;
  pointer-events: auto;
  z-index: 3;
  transition: 0.15s;
}

.node-card.dragging {
  cursor: grabbing;
}

.node-card:hover {
  background-color: #aa2222;
  transition: 0.15s;
}
